server:
  port: 8080

spring:
  datasource:
    url:  jdbc:postgresql://db.axxwxwxnqteramwkrwrn.supabase.co:5432/postgres?sslmode=require
    username: postgres
    password: jC@MKgX!Pb*$G6t
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect